<div class="container">
  <li>
    <div
      class="card"
      *ngFor="let item of (state$ | async)?.heroes; index as i"
      (click)="selectHero(i)"
    >
      <label>{{ item._nickname }}</label>
      <img src="{{ item._picture }}" />
    </div>
  </li>
  <div class="details" *ngIf="(state$ | async)?.selectecHero">
    <div>
      <img src="{{ (state$ | async)?.selectecHero?._picture }}" />
    </div>
    <label>Name: {{ (state$ | async)?.selectecHero?._name }}</label>
    <label>Height: {{ (state$ | async)?.selectecHero?._height }}</label>
    <label>Nickname: {{ (state$ | async)?.selectecHero?._nickname }}</label>
  </div>
</div>
