.container {
  display: flex;
  flex-direction: row;

  .details {
    width: 40%;
    border-width: 2px;
    border-color: gray;
    border-style: solid;
    border-radius: 5px;

    display: flex;
    flex-direction: column;

    div {
      display: flex;
      justify-content: center;
      margin-bottom: 15px;
    }
  }
}

li {
  width: 60%;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  margin: 9px;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-width: 2px;
  border-color: gray;
  border-style: solid;
  border-radius: 5px;
  cursor: pointer;
  label {
    margin: 9px;
  }


}
